<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="error.css">
</head>
<body>
    <div class="error" title="422">422</div>
    <br>
    <div class="return">
        Whethere the link is broken or Invalid OR Link is alredy Shorted <br>
        <a href="/">Return to Home</a>
    </div>
</body>
</html>